{% extends "Template.html" %}

{% block contenido %}
<div class="content-section">
    <form method="POST" action="">
        {{ añadir_form.hidden_tag() }}
        <fieldset class="pl-5 form-group mt-4">
            <div class="form-group">
                {{ añadir_form.nombre.label(class="form-control-label") }}
                {% if añadir_form.nombre.errors %}
                    {{añadir_form.nombre(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in añadir_form.nombre.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if medicamento[2] != None %}
                        {{ añadir_form.nombre(class="form-control form-control-lg", value = medicamento[2]) }}
                        {% else %}
                    {{ añadir_form.nombre(class="form-control form-control-lg") }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ añadir_form.horario.label(class="form-control-label") }}
                {% if añadir_form.horario.errors %}
                    {{añadir_form.horario(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in añadir_form.horario.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if medicamento[2] != None %}
                        {{ añadir_form.horario(class="form-control form-control-lg", value = medicamento[4]) }}
                    {% else %}
                        {{ añadir_form.horario(class="form-control form-control-lg") }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ añadir_form.dia.label(class="form-control-label") }}
                {% if añadir_form.dia.errors %}
                    {{añadir_form.dia(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dia.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ añadir_form.dia(class="form-control form-control-lg selectpicker dropdown", title="Que dias se debe repetir") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ añadir_form.cantidad.label(class="form-control-label") }}
                {% if añadir_form.cantidad.errors %}
                    {{añadir_form.cantidad(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.cantidad.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if medicamento[2] != None %}
                        {{ añadir_form.cantidad(class="form-control form-control-lg", value=medicamento[3]) }}
                    {% else %}
                        {{ añadir_form.cantidad(class="form-control form-control-lg") }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ añadir_form.repeticion.label(class="form-control-label") }}
                {% if añadir_form.repeticion.errors %}
                    {{añadir_form.repeticion(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in añadir_form.repeticion.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ añadir_form.repeticion(class="form-control form-control-lg selectpicker", title="Cada cuanto se debe repetir") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ añadir_form.mensaje.label(class="form-control-label") }}
                {% if añadir_form.mensaje.errors %}
                    {{añadir_form.mensaje(class="form-control formcontrol-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in añadir_form.mensaje.errors %}
                        <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if medicamento[2] != None %}
                        {{ añadir_form.mensaje(class="form-control form-control-lg añadir-medicamento", value=medicamento[8]) }}
                    {% else %}
                        {{ añadir_form.mensaje(class="form-control form-control-lg añadir-medicamento") }}
                    {% endif %}
                {% endif %}
            </div>
            {{ añadir_form.toma_libre.label(class="form-control-label") }}
            {% if medicamento[2] != None %}
                {% if medicamento[7] == 1 %}
                    {{ añadir_form.toma_libre(class="form-control form-control-lg", checked=true) }}
                {% else %}
                    {{ añadir_form.toma_libre(class="form-control form-control-lg") }}
                {% endif %}
            {% else %}
                {{ añadir_form.toma_libre(class="form-control form-control-lg") }}
            {% endif %}
        </fieldset>
            <div class="form-group text-center">
                {{ añadir_form.submit_medicamento(class="btn btn-outline-dark") }}
                {% if medicamento[2] != None %}
                    <div class="pt-4">
                        {{vaciar_form.submit1(class="btn btn-outline-dark")}}
                    </div>
                    <div>
                        <small class="text-muted">
                            Al vaciar, se borra toda la informacion del medicamento
                        </small>
                    </div>

                    {% if medicamento[11] == 1 %}
                        <div class="pt-4">
                            {{deshabilitar_form.submit2(class="btn btn-outline-dark")}}
                        </div>
                        <div>
                            <small class="text-muted">
                                Al deshabilitar, se desactiva la dispensacion del medicamento
                            </small>
                        </div>
                    {% else %}
                        <div class="pt-4">
                            {{habilitar_form.submit3(class="btn btn-outline-dark")}}
                        </div>
                        <div>
                            <small class="text-muted">
                                Al habilitar, se activa la dispensacion del medicamento
                            </small>
                        </div>
                    {% endif %}
                {% endif %}
        </div>
    </form>
</div>
{% endblock contenido %}