{% extends "Template.html" %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-6 text-center align-self-center"> <img class="img-fluid"
                    src="../static/Logo.png"> </div>
            <div class="col-md-6 info">
                <div class="row title">
                    <div class="col">
                        <h2>PADIM</h2>
                    </div>
                    <div class="col text-right"><a href="#"><i class="fa fa-heart-o"></i></a></div>
                </div>
                <p>Dispensador inteligente</p>
                <span id="reviews">1590 Reviews</span>
                <div class="row price">
                    <div class="row"><big><b>1.5 oz.</b></big></div>
                    <div class="row">$12.95</div></a>
                </div>
        </div>

        <div class="row lower">
            <div class="col text-right align-self-center"> 
                <button class="btn btn-outline-dark">Coprar ahora</button> 
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}