{% extends "Template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Comprar.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}


{% block contenido %}
<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="row mt-5">
                    {% for producto in productos %}
                        <div class="col-sm-3 mr-3" style="border: 1px gray solid; border-radius: 5px;">
                            <div class="thumb-wrapper">
                                <div class="img-box mt-2">
                                    <img src="../static/{{producto[1]}}.jpg" class="img-fluid" alt="{{producto[1]}}">
                                </div>
                                <div class="thumb-content">
                                    <h4>{{ producto[1] }}</h4>
                                    <h6>{{ producto[2] }}</h6>
                                    <div class="star-rating">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <p class="item-price"><b>${{ producto[5] }}</b></p>
                                    <a href="{{ url_for('comprar_producto', idproducto = producto[0]) }}"
                                        class="btn btn-outline-dark mb-3">Comprar ahora</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    <div class="col-sm-3" style="border: 1px gray solid; border-radius: 5px;">
                        <div class="thumb-wrapper">
                            <div class="img-box mt-2">
                                <img src="/examples/images/products/headphone.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="thumb-content">
                                <h4>Proximamente</h4>
                                <h6>Nuevos productos</h6>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                    </ul>
                                </div>
                                <p class="item-price text-muted"><b>$0.00</b></p>
                                <input type="button" class="btn btn-outline-dark mb-3" value="Comprar ahora" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}